<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239386353329-d3jmfgqdfo347rjibgf9j1mqkom3q8s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239386353329-d3jmfgqdfo347rjibgf9j1mqkom3q8s0</string>
	<key>API_KEY</key>
	<string>AIzaSyDVqtwoSkBXiJnyUWjEcrN_q8r6jieMkAs</string>
	<key>GCM_SENDER_ID</key>
	<string>239386353329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickstore.userng</string>
	<key>PROJECT_ID</key>
	<string>quick-store-fcb53</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-store-fcb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239386353329:ios:4e2c0101a964c00d8f4c90</string>
</dict>
</plist>